* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background: #A0A9CC;
  color: #fff;
  font-size: 1.5em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
  font-weight: 100;
  text-align: center;
}

.container {
  background: #B7BED8;
  color: #6A79A6;
  display: inline-block;
  padding: 0em 2em;
  margin: 3em auto;
  box-shadow: 0 50px 50px rgba(0, 0, 0, .2);
}

.form-group {
  .control-label {
    text-align: center;
  }
  .radio {
    text-align: left;
    margin-left: calc(50% - 100px);
    line-height: 22px;
    label {
      margin: 0px 0px 0px 0px;
      vertical-align: middle;
    }
    input {
      margin: 0px 3px 0px 0px;
      position: inherit;
      vertical-align: middle;
    }
  }
  .form-control {
    width: auto;
  }
}
